<div class="col-11 mx-auto h-100">
    <div class="url-box">
        <h4>Short URL: <a href="{% url 'geturl' url.alias %}" target="_blank"><span class="text-primary"
                    id="url-{{url.alias}}">/{{url.alias}}</span></a>
        </h4>
        <div class="url-info">
            <p><strong>Original URL:</strong> <a href="{{url.url}}" style="color: inherit; word-break: break-all;">{{url.url}}</a></p>
            <p><strong>Time Created:</strong> {{url.created}}</p>
        </div>
        <button class="btn btn-primary btn-copy my-2" id="{{url.alias}}"
            onclick="copyToClipboard('{{host}}{{url.alias}}', '{{url.alias}}')">Copy</button>
        <button class="btn btn-success btn-share my-2" onclick="shareToWhatsApp('{{host}}{{url.alias}}')">Share on
            WhatsApp</button>
        <div class="help-text" id="helpText2">Copy successful!</div>
    </div>
</div>