{% extends "base.html" %}
{% load static %}
{% block title %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<title>URL Snip</title>
{% endblock title %}

{% block style_script %}
<style>
    * {
        padding: 0;
        margin: 0;
    }

    body {
        font-family: 'Sansita', sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }

    .disabled-input {
        position: relative;
        z-index: 1;
    }

    .disabled-input input {
        position: relative;
        z-index: 1;
    }

    .lock-label {
        content: "";
        display: flex;
        align-items: center;
        width: 20px;
        padding-top: 8px;
        height: 100%;
        position: absolute;
        right: 10px;
        top: 0;
        /* bottom: 50%; */
        background-image: url(../images/lock.svg);
        background-position: center center;
        z-index: 1000;
    }
</style>
{% endblock style_script %}

{% block body %}
<!-- Navbar -->
{% include "components/header.html" %}

<!-- Main -->
<main>
    <section class="free-hook-block V2 rounded no-padding-top mt-0">
        <div class="grid-container mt-0">
            <div class="block-content">
                <div class="tabs-content" data-tabs-content="freehook-tabs">
                    <div class="tabs-panel is-active" id="panel-short-link" role="tabpanel"
                        aria-labelledby="tab-short-link">
                        <div class="tabintro">
                            <h2 class="text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 25 24"
                                    fill="none">
                                    <path
                                        d="M6.4 10.6C5.8 9.9 5.5 9.1 5.5 8.3C5.5 7.4 5.8 6.6 6.5 6C7.7 4.8 9.9 4.8 11.1 6L13.3 8.2C13.7 8.6 14.3 8.6 14.7 8.2C15.1 7.8 15.1 7.2 14.7 6.8L12.5 4.5C11.5 3.6 10.1 3 8.7 3C7.3 3 6 3.6 5 4.5C4 5.5 3.5 6.9 3.5 8.3C3.5 9.7 4 11 5 12L7.2 14.2C7.4 14.4 7.7 14.5 7.9 14.5C8.1 14.5 8.4 14.4 8.6 14.2C9 13.8 9 13.2 8.6 12.8L6.4 10.6Z"
                                        fill="#36383B"></path>
                                    <path
                                        d="M20 12L17.8 9.8C17.4 9.4 16.8 9.4 16.4 9.8C16 10.2 16 10.8 16.4 11.2L18.6 13.5C19.2 14.1 19.6 14.9 19.6 15.8C19.6 16.7 19.3 17.5 18.6 18.1C17.3 19.4 15.3 19.4 14 18.1L11.8 15.9C11.4 15.5 10.8 15.5 10.4 15.9C10 16.3 10 16.9 10.4 17.3L12.6 19.5C13.6 20.5 15 21 16.3 21C17.6 21 19 20.5 20 19.5C21 18.5 21.5 17.2 21.5 15.8C21.5 14.3 21 13 20 12Z"
                                        fill="#36383B"></path>
                                    <path
                                        d="M15.2 14.7C15 14.9 14.8 15 14.5 15C14.2 15 14 14.9 13.8 14.7L9.8 10.7C9.4 10.3 9.4 9.7 9.8 9.3C10.2 8.9 10.8 8.9 11.2 9.3L15.2 13.3C15.6 13.7 15.6 14.3 15.2 14.7Z"
                                        fill="#36383B"></path>
                                </svg>
                                Shorten a long link
                            </h2>
                        </div>
                        <div class="tabform">
                            <form id="form-short-link" class="freehook-form" method="POST" action="">
                                {% csrf_token %}
                                <div class="inner-content grid-x grid-margin-x grid-padding-x-off form-content px-lg-3">
                                    <div class="w-100"> <label>Paste a long URL<br> <input type="url" class="hook_url"
                                                required value="{{ data.url }}"
                                                placeholder="Example: http://super-long-link.com/shorten-it"
                                                id="form-short-link-long-url" name="url" tabindex="50"> </label>
                                    </div>
                                    {% if error.url %}
                                    <div class="mt-3 text-danger fs-6">{{error.url}}</div>
                                    {% endif %}
                                    <div class="cell large-12 errormessage for-hook_url"></div>
                                    <div class="w-100 d-md-flex justify-content-between">
                                        <div class="col-md-5 col-12 m-0 mb-4 mb-md-0">
                                            <label for="custom-domain-disabled">Domain<br>
                                                <div class="disabled-input">
                                                    <div class="lock-label" style="user-select: none;">
                                                        <img src="{% static 'images/lock.svg' %}" alt="">
                                                    </div>
                                                    <input type="text" class=""
                                                        style="background-color: rgb(214, 214, 214); color: black; padding-right: 35px;"
                                                        id="custom-domain-disabled" disabled="true" name="domain"
                                                        value="{{domain}}">
                                                </div>
                                            </label>
                                        </div>
                                        <div class="d-none d-md-flex flex-column justify-content-evenly fw-bold m-0 mb-0"
                                            style="user-select: none;">
                                            <p></p>/
                                        </div>
                                        <div class="col-md-6 m-0 mb-0 mb-md-0">
                                            <label>Enter a key <span>(optional)</span>
                                                </span><br>
                                                <input type="text" class="hook_backhalf"
                                                    placeholder="example: favorite-link" value="{{data.alias}}"
                                                    id="form-short-link-backhalf" name="alias" maxlength="25"
                                                    oninput="sanitizeInput(this)">
                                            </label>
                                        </div>
                                    </div>
                                    {% if error.alias %}
                                    <div class="mt-3 text-danger fs-6">{{error.alias}}</div>
                                    {% endif %}
                                    {% if error.other %}
                                    <div class="mt-3 text-danger fs-6">{{error.other}}</div>
                                    {% endif %}
                                    {% if data and not error%}
                                    <div class="mt-4 px-3 py-3 w-100"
                                        style="background-color: rgb(230, 249, 255); border-radius: 8px;">
                                        <div>Short Url: <a href="{{host}}{{data.alias}}" target="_blank"
                                                rel="noopener noreferrer">{{host}}{{data.alias}}</a>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="mb-4 mt-4 px-3 py-3 w-100"
                                        style="background-color: rgb(230, 249, 255); border-radius: 8px;">
                                        <div>
                                            <img class="alignnone size-full wp-image-10086" role="img"
                                                src="{% static 'images/stars.svg' %}" alt="" width="20" height="20">
                                            End your link with words that will make it unique
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button id="form-short-link-submit" type="submit"
                                            class="btn btn-primary w-100 p-3 fs-5" style="border-radius: 8px;">Get
                                            your link</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% if urls %}

    {% with urls=urls host=host %}
    {% include "components/your_url.html"%}
    {% endwith %}

    {% endif %}
</main>

{% include "components/footer.html" %}

<script>t
    function sanitizeInput(input) {
        input.value = input.value.replace(/[^a-zA-Z0-9-_]/g, '');
        if (input.value.length > 25) {
            input.value = input.value.substring(0, 25)
        }
    }
</script>
{% endblock body %}