<style>
    .footer {
        background-color: #3498db;
        color: #fff;
        text-align: center;
        padding: 15px 0;
    }

    .footer .user-info {
        color: #fff;
        margin-right: 20px;
    }
</style>
<footer class="footer bg-dark text-white">
    <div class="container">
        {% if request.user.is_authenticated %}
        <p class="user-info">You are logged in as <a href="{% url 'me' %}" class="text-white">{{request.user}}</a></p>
        <p style="width: fit-content;" class="mx-auto"> <a class="btn btn-light" href="{% url 'logout' %}">Logout</a></p>
        {% else %}
        <p class="user-info">You are not logged in</p>
        <p style="width: fit-content;" class="mx-auto"> <a class="btn btn-light" href="{% url 'login' %}">Login</a></p>
        {% endif %}
        <p>&copy; 2023 URL Snip. All rights reserved.</p>
    </div>
</footer>